.container {
  width: 100%;
}
.container main {
  display: flex;
  justify-content: space-between;
}

.desk {
  height: 20vh;
}
.container .checkBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
