<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.golfzonaca.backoffice.repository.mybatis.LocationMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into location (address, postalcode)
        values (#{address}, #{postalCode})
    </insert>

    <update id="update">
        update location
        set address=#{updateParam.address},
            postalcode=#{updateParam.postalCode}
        where id = #{id}
    </update>

    <select id="findByAddressId" resultType="Location">
        select *
        from location
        where id = #{Id}
    </select>

    <delete id="delete">
        delete
        from location
        where id = #{id}
    </delete>
</mapper>