.container {
  width: 100%;
}
.productName {
  position: relative;
  top: -50px;
  left: 20px;
  font-size: 40px;
}
.container main {
  display: flex;
  justify-content: space-between;
}

.container Button {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiperContainer {
  padding: 0 50px;
}
.desk,
.office {
  margin-left: 50px;
}
