<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.golfzonaca.officesharingplatform.repository.mybatis.RoomKindMapper">
    <select id="findIdByRoomType" resultType="java.lang.Long">
        select id
        from room_kind
        where room_type like #{selectedType}
    </select>

    <select id="findById" resultType="RoomKind">
        select *
        from room_kind
        where id = #{roomKindId}
    </select>
</mapper>