.signUp {
  width: 350px;
  background: #fff;
  margin: 150px auto;
  height: 600px;
}
.signUp header {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
}
.signUpForm form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signUpForm form input {
  width: 80%;
  height: 40px;
  margin: 10px auto;
}
.signUpForm .select {
  display: flex;
  margin-right: 70px;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
}
.signUpForm .select p {
  margin: 0;
}
.signUpForm .select input {
  width: 15px;
}
.signUpForm .select .selectBox {
  width: 100%;
}
Button {
  width: 80%;
  margin-top: 20px;
}
.navLink {
  text-align: center;
}
