<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.golfzonaca.officesharingplatform.repository.mybatis.UserMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into user (mileage_id, user_mail, user_pw, user_name, user_tel, user_job, prefer_type)
        values (#{mileageId}, #{userMail}, #{userPw}, #{userName}, #{userTel}, #{userJob}, #{userPlace})
    </insert>

    <select id="findById" resultType="User">
        select *
        from user
        where id = #{id}
    </select>

    <select id="findByEmail" resultType="User">
        select *
        from user
        where user_mail like #{email}
    </select>

    <select id="countContainByEmail" resultType="java.lang.Integer">
        select count(*)
        from user
        where user_mail like #{email}
    </select>

    <update id="update">
        update user
        set user_tel    = #{updateParam.userTel},
            user_job    = #{updateParam.userJob},
            prefer_type = #{updateParam.preferType}
        where id = #{id}
    </update>

    <select id="findAll" resultType="User">
        select *
        from user
    </select>

    <select id="validateUserByUserId" resultType="java.lang.Integer">
        select count(*)
        from user
        where id = #{userId}
    </select>
</mapper>