<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2 th:text="#{page.addPlace}">사무공간 등록</h2>
    </div>

    <form action="place.html" th:action th:object="${place}" method="post">
        <div>
            <label for="placeName" th:text="#{label.place.placeName}">사무공간명</label>
            <input type="text" id="placeName" th:field="*{placeName}" name="placeName" class="form-control"
                   placeholder="이름을 입력하세요">
        </div>
        <!-- multi checkbox -->
        <div>
            <div>영업일</div>
            <div th:each="type : ${daysTypes}" class="form-check form-check-inline">
                <input type="checkbox" th:field="*{placeOpenDays}" th:value="${type.name()}" class="form-check-input">
                <label th:for="${#ids.prev('placeOpenDays')}" th:text="${type.description}" class="form-check-label">
                    월요일
                </label>
            </div>
        </div>
        <div>
            <label for="placeDescription" th:text="#{label.place.placeDescription}">사무공간 설명</label>
            <input type="text" id="placeDescription" th:field="*{placeDescription}" name="placeDescription" class="form-control" placeholder="공간 설명을 입력하세요">
        </div>
        <div>
            <label for="placeStart">오픈 시간</label>
            <input type="time" id="placeStart" name="placeStart" class="form-control">
            <label for="placeEnd">종료 시간</label>
            <input type="time" id="placeEnd" name="placeEnd" class="form-control">
        </div>

        <!-- multi checkbox -->
        <div>
            <div>공간 부가 정보</div>
            <div th:each="info : ${placeAddInfo}" class="form-check form-check-inline">
                <input type="checkbox" th:field="*{placeAddInfo}" th:value="${info.key}" class="form-check-input">
                <label th:for="${#ids.prev('placeAddInfo')}"
                       th:text="${info.value}" class="form-check-label">Wifi</label>
            </div>
        </div>


        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">공간 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='places.html'"
                        th:onclick="|location.href='@{/places}'|"
                        type="button">취소
                </button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>