<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        .container {
            max-width: 560px;
        }

        .quantity-info {
            width: 100%;
            display: flex;
        }

        .type-quantity {
            display: flex;
            width: 33.33%;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }

        .type-quantity input {
            width: 40%;
            text-align: center;
            margin-top: 5px;
            margin-right: 10px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>공간 상세</h2>
    </div>

    <!-- 추가 -->
    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>

    <div>
        <label for="placeId">등록번호</label>
        <input type="text" id="placeId" name="placeId" class="form-control" value="1" th:value="${place.id}" readonly disabled="true">
    </div>
    <div>
        <label for="placeName">공간명</label>
        <input type="text" id="placeName" name="placeName" class="form-control" value="공간A" th:value="${place.placeName}" readonly disabled="true">
    </div>
    <div>
        <label for="placeDescription">공간설명</label>
        <input type="text" id="placeDescription" name="placeDescription" class="form-control" value="판교에 위치한 공간A입니다." th:value="${place.placeDescription}" readonly disabled="true">
    </div>
    <div>
        <label for="postalCode">우편번호</label>
        <input type="text" id="postalCode" name=postalCode class="form-control" value="1" th:value="${location.postalCode}" readonly disabled="true">
    </div>
    <div>
        <label for="address">주소</label>
        <input type="text" id="address" name=address class="form-control" value="1" th:value="${location.address}" readonly disabled="true">
    </div>

    <!-- multi checkbox -->
    <div>
        <div>영업일</div>
        <div th:each="type : ${DaysType}" class="form-check form-check-inline">
            <input type="checkbox" th:field="${place.placeOpenDays}" th:value="${type.name()}" class="form-check-input" disabled>
            <label th:for="${#ids.prev('placeOpenDays')}" th:text="${type.description}" class="form-check-label">월요일</label>
        </div>
    </div>
    <div>
        <label for="startTime">시작 시간</label>
        <input type="time" id="startTime" name="startTime" class="form-control" value="10:00" th:value="${place.placeStart}" readonly disabled="true">
    </div>
    <div>
        <label for="endTime">종료 시간</label>
        <input type="time" id="endTime" name=endTime class="form-control" value="22:00" th:value="${place.placeEnd}" readonly disabled="true">
    </div>


    <!-- multi checkbox -->
    <div>
        <div>부가 정보</div>
        <div th:each="type : ${AddInfoType}" class="form-check form-check-inline">
            <input type="checkbox" th:field="${place.placeAddInfo}" th:value="${type.name()}" class="form-check-input" disabled>
            <label th:for="${#ids.prev('placeAddInfo')}"
                   th:text="${type.description}" class="form-check-label">와이파이</label>
        </div>
    </div>

    <div>공간 보유 갯수</div>
    <div class="quantity-info">
        <div class="type-quantity">
            <label for="desk">데스크</label>
            <input type="number" id="desk" name="desk" class="form-control" min="0" value=0 th:value="${rooms.get(0)}" readonly disabled="true">
        </div>
        <div class="type-quantity">
            <label for="meetingRoom4">4인 미팅룸</label>
            <input type="number" id="meetingRoom4" name="meetingRoom4" class="form-control" min="0" value=0 th:value="${rooms.get(1)}" readonly disabled="true">
        </div>
        <div class="type-quantity">
            <label for="meetingRoom6">6인 미팅룸</label>
            <input type="number" id="meetingRoom6" name="meetingRoom6" class="form-control" min="0" value=0 th:value="${rooms.get(2)}" readonly disabled="true">
        </div>
    </div>
    <div class="quantity-info">
        <div class="type-quantity">
            <label for="meetingRoom10">10인 미팅룸</label>
            <input type="number" id="meetingRoom10" name="meetingRoom10" class="form-control" min="0" value=0 th:value="${rooms.get(3)}" readonly disabled="true">
        </div>
        <div class="type-quantity">
            <label for="meetingRoom20">20인 미팅룸</label>
            <input type="number" id="meetingRoom20" name="meetingRoom20" class="form-control" min="0" value=0 th:value="${rooms.get(4)}" readonly disabled="true">
        </div>
        <div class="type-quantity">
            <label for="office20">20평 오피스</label>
            <input type="number" id="office20" name="office20" class="form-control" min="0" value=0 th:value="${rooms.get(5)}" readonly disabled="true">
        </div>
    </div>
    <div class="quantity-info">
        <div class="type-quantity">
            <label for="office40">40평 오피스</label>
            <input type="number" id="office40" name="office40" class="form-control" min="0" value=0 th:value="${rooms.get(6)}" readonly disabled="true">
        </div>
        <div class="type-quantity">
            <label for="office70">70평 오피스</label>
            <input type="number" id="office70" name="office70" class="form-control" min="0" value=0 th:value="${rooms.get(7)}" readonly disabled="true">
        </div>
        <div class="type-quantity">
            <label for="office100">100평 오피스</label>
            <input type="number" id="office100" name="office100" class="form-control" min="0" value=0 th:value="${rooms.get(8)}" readonly disabled="true">
        </div>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/places/{Id}/edit(Id=${place.id})}'|"
                    type="button">상품 수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='places.html'"
                    th:onclick="|location.href='@{/places}'|"
                    type="button">목록으로</button>
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>