.signUp {
  width: 350px;
  background: rgb(255, 255, 255);
  margin: 120px auto;
  height: 600px;
  border: 1px solid #111;
}
.signUp header {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
}
.headerLink {
  color: #111;
  text-decoration: none;
}
.signUpForm form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signUpForm form input {
  width: 80%;
  height: 40px;
  margin: 10px auto;
}
.signUpForm .select {
  display: flex;
  margin-right: 33px;
  flex-direction: column;
}
.signUpForm .select p {
  margin: 0;
}
.signUpForm .select input {
  position: relative;
  top: 14px;
  width: 15px;
}
.signUpForm .select .selectBox {
  width: 100%;
}
.signUpForm .select .selectBox label {
  margin-left: 10px;
}
Button {
  width: 80%;
  margin-top: 20px;
}
.navLink {
  text-align: center;
}
