<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.golfzonaca.backoffice.repository.mybatis.CompanyMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into company (company_loginid, company_pw, company_name, company_tel, company_regnum, company_repname,
                             address_id)
        values (#{companyLoginId}, #{companyPw}, #{companyName}, #{companyTel}, #{companyRegNum}, #{companyRepName},
                #{addressId})
    </insert>

    <select id="findAll" resultType="Company">
        select *
        from Company
    </select>

    <select id="findByCompanyLoginId" resultType="Company">
        select *
        from Company
        where company_loginid = #{companyLoginId}
    </select>
    <select id="findById" resultType="Company">
        select *
        from Company
        where id = #{id}
    </select>
</mapper>