.box {
  width: 50px;
  height: 45px;
  border: 2px solid #111;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.box p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.active {
  background: rgb(106, 158, 255);
}
.nonActive {
  background: #999;
}
